.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0c0a0a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #006c89;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.avatar {
  border-radius: 50%;
}

.my-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 2px solid #000000;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.nice-border {
  border: 3px solid #ffffff;
  border-radius: 10px;
  padding: 0px;
  box-shadow: 0 0 8px rgba(25, 0, 255, 0.9);
  transition: transform 0.2s ease;
}

.nice-border:hover {
  transform: scale(1.08);
  /* subtle zoom on hover */
}

.image-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.seperate {
  width: 800px;
}

.input-box {
  border: 2px solid red;
  border-radius: 20px;
}

.footer {
  text-align: center;
  width: 300px;
  padding: 5px;
  background-color: rgb(240, 255, 32);
  color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-caption {
  text-align: center;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  ;

}

.link-box-row {
  display: flex;
  justify-content: center;
  gap: 30px;
}


.top-right {
  position: fixed;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  z-index: 1000;
}

.shuffle-button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 2px solid #ffadad;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;

}